.navigation {
    background-color: #195B9D;
    width: 100%;
    .logo {
        color: white !important;
    }
    .lists {
        display: flex;
        gap: 60px;
        margin: 0 auto;
        color: white;
    }
}