.student_form {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    height: 100vh;
    form {
        label {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        input,
        textarea {
            width: 100%;
            outline: none;
            padding: 5px 20px;
            border: 1px solid gray;
            border-radius: 5px;
            &:focus {
                border: 2px solid #195b9d;
            }
        }
    }
}